In [1]:
import numpy as np
import pandas as pd

In [2]:
#import re

In [3]:
data = pd.read_csv('./all_files.csv')

In [4]:
data.tail()

,Title:,Location:,Gas Mileage:,Dealer's Price:,Mileage:,Transmission:,Exterior Color:,Interior Color:,Maximum Seating:,Engine:,Drivetrain:,VIN:,Stock #:,Major Options:,Certified:,Title Check,Accident Check,Ownership history,Days on CarGurus,Price History
179764,"1970 Plymouth Road Runner - $69,990","Fairfield, CA",NaN,"$69,990","39,929 miles",4-Speed Manual,Orange,Black,NaN,NaN,NaN,RM21V0A149399,F13191,NaN,NaN,No issues reported,No issues reported,One owner,1645 days,No price changes
179765,"1970 Plymouth Road Runner - $86,990","Fairfield, CA",NaN,"$86,990","84,453 miles",Automatic,Orange,White,NaN,NaN,NaN,RM27N0C134287,F13241,NaN,NaN,No issues reported,No issues reported,One owner,868 days,"Price dropped by $8,000"
179766,"1971 Plymouth Barracuda - $124,990","Fairfield, CA",NaN,"$124,990","3,477 miles",Automatic,Yellow,White,NaN,NaN,NaN,BH27G1B321615,F13263,NaN,NaN,No issues reported,No issues reported,One owner,75 days,"Price dropped by $15,000"
179767,"1970 Plymouth Road Runner - $189,999","Rancho Cordova, CA",NaN,"$189,999","28,120 miles",4-Speed Manual,Tor Red,White,NaN,NaN,NaN,RM23V0A179702,103388,NaN,NaN,No issues reported,No issues reported,One owner,197 days,"Price dropped by $9,889"
179768,1997 Plymouth Prowler 2 Dr STD Convertible - $...,"Redding, CA",NaN,"$31,995","6,509 miles",Automatic,Purple,Black,2 seats,V6,Rear-Wheel Drive,1P3EW65F1VV302086,1997,NaN,NaN,No issues reported,No issues reported,4 Owners,38 days,No price changes

In [5]:
#data.info

In [6]:
#data.keys

### 將Title:欄位的金額去掉

In [7]:
data.loc[:,'Title:']

0                  2013 Ram 2500 Laramie Crew Cab - $22,999
1                2019 Ram 1500 Rebel Quad Cab 4WD - $32,900
2             2015 Ram 1500 Big Horn Crew Cab 4WD - $23,731
3         2009 Dodge Ram 1500 Laramie Crew Cab 4WD - $14...
4                  2016 Ram 1500 SLT Crew Cab 4WD - $27,990
                                ...
179764                  1970 Plymouth Road Runner - $69,990
179765                  1970 Plymouth Road Runner - $86,990
179766                   1971 Plymouth Barracuda - $124,990
179767                 1970 Plymouth Road Runner - $189,999
179768    1997 Plymouth Prowler 2 Dr STD Convertible - $...
Name: Title:, Length: 179769, dtype: object

In [8]:
data.iloc[:,0]

0                  2013 Ram 2500 Laramie Crew Cab - $22,999
1                2019 Ram 1500 Rebel Quad Cab 4WD - $32,900
2             2015 Ram 1500 Big Horn Crew Cab 4WD - $23,731
3         2009 Dodge Ram 1500 Laramie Crew Cab 4WD - $14...
4                  2016 Ram 1500 SLT Crew Cab 4WD - $27,990
                                ...
179764                  1970 Plymouth Road Runner - $69,990
179765                  1970 Plymouth Road Runner - $86,990
179766                   1971 Plymouth Barracuda - $124,990
179767                 1970 Plymouth Road Runner - $189,999
179768    1997 Plymouth Prowler 2 Dr STD Convertible - $...
Name: Title:, Length: 179769, dtype: object

In [9]:
data.iloc[:,0].str.split(' - ', expand = True).iloc[:,0]

0                     2013 Ram 2500 Laramie Crew Cab
1                   2019 Ram 1500 Rebel Quad Cab 4WD
2                2015 Ram 1500 Big Horn Crew Cab 4WD
3           2009 Dodge Ram 1500 Laramie Crew Cab 4WD
4                     2016 Ram 1500 SLT Crew Cab 4WD
                             ...
179764                     1970 Plymouth Road Runner
179765                     1970 Plymouth Road Runner
179766                       1971 Plymouth Barracuda
179767                     1970 Plymouth Road Runner
179768    1997 Plymouth Prowler 2 Dr STD Convertible
Name: 0, Length: 179769, dtype: object

In [10]:
data.iloc[:,0] = data.iloc[:,0].str.split(' - ', expand = True).iloc[:,0]

In [11]:
data.iloc[:,0]

0                     2013 Ram 2500 Laramie Crew Cab
1                   2019 Ram 1500 Rebel Quad Cab 4WD
2                2015 Ram 1500 Big Horn Crew Cab 4WD
3           2009 Dodge Ram 1500 Laramie Crew Cab 4WD
4                     2016 Ram 1500 SLT Crew Cab 4WD
                             ...
179764                     1970 Plymouth Road Runner
179765                     1970 Plymouth Road Runner
179766                       1971 Plymouth Barracuda
179767                     1970 Plymouth Road Runner
179768    1997 Plymouth Prowler 2 Dr STD Convertible
Name: Title:, Length: 179769, dtype: object

-----

### 將Title欄位的年份分割出來

In [12]:
data.iloc[:,0].str.split(' ', n=1,expand=True).iloc[:,:]

           0                                      1
0       2013              Ram 2500 Laramie Crew Cab
1       2019            Ram 1500 Rebel Quad Cab 4WD
2       2015         Ram 1500 Big Horn Crew Cab 4WD
3       2009    Dodge Ram 1500 Laramie Crew Cab 4WD
4       2016              Ram 1500 SLT Crew Cab 4WD
...      ...                                    ...
179764  1970                   Plymouth Road Runner
179765  1970                   Plymouth Road Runner
179766  1971                     Plymouth Barracuda
179767  1970                   Plymouth Road Runner
179768  1997  Plymouth Prowler 2 Dr STD Convertible

[179769 rows x 2 columns]

In [13]:
years = data.iloc[:,0].str.split(' ', n=1,expand=True).iloc[:,0]

In [14]:
years

0         2013
1         2019
2         2015
3         2009
4         2016
          ...
179764    1970
179765    1970
179766    1971
179767    1970
179768    1997
Name: 0, Length: 179769, dtype: object

In [15]:
data.insert(0,'Year:',years)
#雖然years的型態是series,也可以使用 data['Years:']=years 將資料加入dataframe,不過會插入到最後一行,所以才用上一行的方式加資料

In [16]:
data.tail()

,Year:,Title:,Location:,Gas Mileage:,Dealer's Price:,Mileage:,Transmission:,Exterior Color:,Interior Color:,Maximum Seating:,...,Drivetrain:,VIN:,Stock #:,Major Options:,Certified:,Title Check,Accident Check,Ownership history,Days on CarGurus,Price History
179764,1970,1970 Plymouth Road Runner,"Fairfield, CA",NaN,"$69,990","39,929 miles",4-Speed Manual,Orange,Black,NaN,...,NaN,RM21V0A149399,F13191,NaN,NaN,No issues reported,No issues reported,One owner,1645 days,No price changes
179765,1970,1970 Plymouth Road Runner,"Fairfield, CA",NaN,"$86,990","84,453 miles",Automatic,Orange,White,NaN,...,NaN,RM27N0C134287,F13241,NaN,NaN,No issues reported,No issues reported,One owner,868 days,"Price dropped by $8,000"
179766,1971,1971 Plymouth Barracuda,"Fairfield, CA",NaN,"$124,990","3,477 miles",Automatic,Yellow,White,NaN,...,NaN,BH27G1B321615,F13263,NaN,NaN,No issues reported,No issues reported,One owner,75 days,"Price dropped by $15,000"
179767,1970,1970 Plymouth Road Runner,"Rancho Cordova, CA",NaN,"$189,999","28,120 miles",4-Speed Manual,Tor Red,White,NaN,...,NaN,RM23V0A179702,103388,NaN,NaN,No issues reported,No issues reported,One owner,197 days,"Price dropped by $9,889"
179768,1997,1997 Plymouth Prowler 2 Dr STD Convertible,"Redding, CA",NaN,"$31,995","6,509 miles",Automatic,Purple,Black,2 seats,...,Rear-Wheel Drive,1P3EW65F1VV302086,1997,NaN,NaN,No issues reported,No issues reported,4 Owners,38 days,No price changes

In [17]:
data.iloc[:,1].str.split(' ', n=1,expand=True).iloc[:,1]

0                     Ram 2500 Laramie Crew Cab
1                   Ram 1500 Rebel Quad Cab 4WD
2                Ram 1500 Big Horn Crew Cab 4WD
3           Dodge Ram 1500 Laramie Crew Cab 4WD
4                     Ram 1500 SLT Crew Cab 4WD
                          ...
179764                     Plymouth Road Runner
179765                     Plymouth Road Runner
179766                       Plymouth Barracuda
179767                     Plymouth Road Runner
179768    Plymouth Prowler 2 Dr STD Convertible
Name: 1, Length: 179769, dtype: object

In [18]:
data.iloc[:,1] = data.iloc[:,1].str.split(' ', n=1,expand=True).iloc[:,1]

In [19]:
data.head()

,Year:,Title:,Location:,Gas Mileage:,Dealer's Price:,Mileage:,Transmission:,Exterior Color:,Interior Color:,Maximum Seating:,...,Drivetrain:,VIN:,Stock #:,Major Options:,Certified:,Title Check,Accident Check,Ownership history,Days on CarGurus,Price History
0,2013,Ram 2500 Laramie Crew Cab,"Tappahannock, VA",NaN,"$22,999","75,228 miles",Automatic,True Blue Pearl,---,6 seats,...,4X2,3C6TR4FT8DG517986,12255,"Bluetooth, Backup Camera, Aluminum Wheels, Nav...",NaN,No issues reported,No issues reported,2 Owners,37 days,No price changes
1,2019,Ram 1500 Rebel Quad Cab 4WD,"Mentor, OH","24 MPG Highway, 19 MPG City","$32,900","12,454 miles",8-Speed Automatic,Billet Silver Metallic Clearcoat,Red/Black,5 seats,...,Four-Wheel Drive,1C6RRFEG5KN840908,A2242,"Bluetooth, Backup Camera, Quick Order Package",NaN,No issues reported,No issues reported,One owner,24 days,"Price dropped by $1,100"
2,2015,Ram 1500 Big Horn Crew Cab 4WD,"Jonestown, PA","21 MPG Highway, 15 MPG City","$23,731","53,845 miles",Automatic,"""",Gray,6 seats,...,Four-Wheel Drive,1C6RR7GT8FS636952,3387,"Navigation System, Bluetooth, Premium Wheels, ...",NaN,No issues reported,No issues reported,One owner,64 days,"Price dropped by $2,266"
3,2009,Dodge Ram 1500 Laramie Crew Cab 4WD,"Westport, MA","18 MPG Highway, 13 MPG City","$14,800","114,566 miles",Automatic,Stone White,Dark slate gray,6 seats,...,Four-Wheel Drive,1D3HV13T89S826734,16507B,"Leather Seats, Sunroof/Moonroof, Navigation Sy...",NaN,No issues reported,No issues reported,One owner,28 days,No price changes
4,2016,Ram 1500 SLT Crew Cab 4WD,"Lumberton, NJ","21 MPG Highway, 15 MPG City","$27,990","7,146 miles",8-Speed Automatic,Black Forest Green Pearlcoat,Gray,6 seats,...,Four-Wheel Drive,3C6RR7LTXGG107873,600679A,"Navigation System, Bluetooth, Quick Order Package",Yes,No issues reported,No issues reported,One owner,18 days,"Price dropped by $2,910"

-----

In [20]:
data.loc[:,'Gas Mileage:'].str.split(',', expand=True)

                     0             1
0                  NaN           NaN
1       24 MPG Highway   19 MPG City
2       21 MPG Highway   15 MPG City
3       18 MPG Highway   13 MPG City
4       21 MPG Highway   15 MPG City
...                ...           ...
179764             NaN           NaN
179765             NaN           NaN
179766             NaN           NaN
179767             NaN           NaN
179768             NaN           NaN

[179769 rows x 2 columns]

In [21]:
gasMileage_highway = data.loc[:,'Gas Mileage:'].str.split(',', expand=True)[0]

In [22]:
gasMileage_highway

0                    NaN
1         24 MPG Highway
2         21 MPG Highway
3         18 MPG Highway
4         21 MPG Highway
               ...
179764               NaN
179765               NaN
179766               NaN
179767               NaN
179768               NaN
Name: 0, Length: 179769, dtype: object

In [23]:
gasMileage_city = data.loc[:,'Gas Mileage:'].str.split(',', expand=True)[1]

In [24]:
gasMileage_city

0                  NaN
1          19 MPG City
2          15 MPG City
3          13 MPG City
4          15 MPG City
              ...
179764             NaN
179765             NaN
179766             NaN
179767             NaN
179768             NaN
Name: 1, Length: 179769, dtype: object

In [25]:
data.insert(3,'Gas Mileage on Highway:', gasMileage_highway)

In [26]:
data.insert(3,'Gas Mileage in City:', gasMileage_city)

In [27]:
data.head()

,Year:,Title:,Location:,Gas Mileage in City:,Gas Mileage on Highway:,Gas Mileage:,Dealer's Price:,Mileage:,Transmission:,Exterior Color:,...,Drivetrain:,VIN:,Stock #:,Major Options:,Certified:,Title Check,Accident Check,Ownership history,Days on CarGurus,Price History
0,2013,Ram 2500 Laramie Crew Cab,"Tappahannock, VA",NaN,NaN,NaN,"$22,999","75,228 miles",Automatic,True Blue Pearl,...,4X2,3C6TR4FT8DG517986,12255,"Bluetooth, Backup Camera, Aluminum Wheels, Nav...",NaN,No issues reported,No issues reported,2 Owners,37 days,No price changes
1,2019,Ram 1500 Rebel Quad Cab 4WD,"Mentor, OH",19 MPG City,24 MPG Highway,"24 MPG Highway, 19 MPG City","$32,900","12,454 miles",8-Speed Automatic,Billet Silver Metallic Clearcoat,...,Four-Wheel Drive,1C6RRFEG5KN840908,A2242,"Bluetooth, Backup Camera, Quick Order Package",NaN,No issues reported,No issues reported,One owner,24 days,"Price dropped by $1,100"
2,2015,Ram 1500 Big Horn Crew Cab 4WD,"Jonestown, PA",15 MPG City,21 MPG Highway,"21 MPG Highway, 15 MPG City","$23,731","53,845 miles",Automatic,"""",...,Four-Wheel Drive,1C6RR7GT8FS636952,3387,"Navigation System, Bluetooth, Premium Wheels, ...",NaN,No issues reported,No issues reported,One owner,64 days,"Price dropped by $2,266"
3,2009,Dodge Ram 1500 Laramie Crew Cab 4WD,"Westport, MA",13 MPG City,18 MPG Highway,"18 MPG Highway, 13 MPG City","$14,800","114,566 miles",Automatic,Stone White,...,Four-Wheel Drive,1D3HV13T89S826734,16507B,"Leather Seats, Sunroof/Moonroof, Navigation Sy...",NaN,No issues reported,No issues reported,One owner,28 days,No price changes
4,2016,Ram 1500 SLT Crew Cab 4WD,"Lumberton, NJ",15 MPG City,21 MPG Highway,"21 MPG Highway, 15 MPG City","$27,990","7,146 miles",8-Speed Automatic,Black Forest Green Pearlcoat,...,Four-Wheel Drive,3C6RR7LTXGG107873,600679A,"Navigation System, Bluetooth, Quick Order Package",Yes,No issues reported,No issues reported,One owner,18 days,"Price dropped by $2,910"

In [28]:
#上面把原本的Gas Mileage欄位分割成兩個,所以這裡去掉原本的Gas Mileage欄位
#axis預設等於0
data.drop(['Gas Mileage:'], axis=1, inplace=True)

In [29]:
data.iloc[:,3:5].fillna(0, inplace = True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  **kwargs

In [30]:
data.iloc[:,3:5]

       Gas Mileage in City: Gas Mileage on Highway:
0                         0                       0
1               19 MPG City          24 MPG Highway
2               15 MPG City          21 MPG Highway
3               13 MPG City          18 MPG Highway
4               15 MPG City          21 MPG Highway
...                     ...                     ...
179764                    0                       0
179765                    0                       0
179766                    0                       0
179767                    0                       0
179768                    0                       0

[179769 rows x 2 columns]

In [31]:
#確認沒有NaN
data.iloc[:,3:5].isnull().any().any()

False

-----

### 將 Dealer's Price: 欄位的 $ 符號和逗號去掉 ,保留數字

In [32]:
data.iloc[:,5]

0          $22,999
1          $32,900
2          $23,731
3          $14,800
4          $27,990
            ...
179764     $69,990
179765     $86,990
179766    $124,990
179767    $189,999
179768     $31,995
Name: Dealer's Price:, Length: 179769, dtype: object

In [33]:
data.iloc[:,5].str.replace('^[^\d]','')

0          22,999
1          32,900
2          23,731
3          14,800
4          27,990
           ...
179764     69,990
179765     86,990
179766    124,990
179767    189,999
179768     31,995
Name: Dealer's Price:, Length: 179769, dtype: object

In [34]:
data.iloc[:,5] = data.iloc[:,5].str.replace('^[^\d]','')

In [35]:
data.head()

,Year:,Title:,Location:,Gas Mileage in City:,Gas Mileage on Highway:,Dealer's Price:,Mileage:,Transmission:,Exterior Color:,Interior Color:,...,Drivetrain:,VIN:,Stock #:,Major Options:,Certified:,Title Check,Accident Check,Ownership history,Days on CarGurus,Price History
0,2013,Ram 2500 Laramie Crew Cab,"Tappahannock, VA",0,0,"22,999","75,228 miles",Automatic,True Blue Pearl,---,...,4X2,3C6TR4FT8DG517986,12255,"Bluetooth, Backup Camera, Aluminum Wheels, Nav...",NaN,No issues reported,No issues reported,2 Owners,37 days,No price changes
1,2019,Ram 1500 Rebel Quad Cab 4WD,"Mentor, OH",19 MPG City,24 MPG Highway,"32,900","12,454 miles",8-Speed Automatic,Billet Silver Metallic Clearcoat,Red/Black,...,Four-Wheel Drive,1C6RRFEG5KN840908,A2242,"Bluetooth, Backup Camera, Quick Order Package",NaN,No issues reported,No issues reported,One owner,24 days,"Price dropped by $1,100"
2,2015,Ram 1500 Big Horn Crew Cab 4WD,"Jonestown, PA",15 MPG City,21 MPG Highway,"23,731","53,845 miles",Automatic,"""",Gray,...,Four-Wheel Drive,1C6RR7GT8FS636952,3387,"Navigation System, Bluetooth, Premium Wheels, ...",NaN,No issues reported,No issues reported,One owner,64 days,"Price dropped by $2,266"
3,2009,Dodge Ram 1500 Laramie Crew Cab 4WD,"Westport, MA",13 MPG City,18 MPG Highway,"14,800","114,566 miles",Automatic,Stone White,Dark slate gray,...,Four-Wheel Drive,1D3HV13T89S826734,16507B,"Leather Seats, Sunroof/Moonroof, Navigation Sy...",NaN,No issues reported,No issues reported,One owner,28 days,No price changes
4,2016,Ram 1500 SLT Crew Cab 4WD,"Lumberton, NJ",15 MPG City,21 MPG Highway,"27,990","7,146 miles",8-Speed Automatic,Black Forest Green Pearlcoat,Gray,...,Four-Wheel Drive,3C6RR7LTXGG107873,600679A,"Navigation System, Bluetooth, Quick Order Package",Yes,No issues reported,No issues reported,One owner,18 days,"Price dropped by $2,910"

In [36]:
#data.iloc[:,5] = data.iloc[:,5].str.replace('$[\)$]','')

In [37]:
aaa = data.iloc[:,5].str.split(',')

In [38]:
aaa = aaa.apply(lambda x : ''.join(x))

In [39]:
aaa

0          22999
1          32900
2          23731
3          14800
4          27990
           ...
179764     69990
179765     86990
179766    124990
179767    189999
179768     31995
Name: Dealer's Price:, Length: 179769, dtype: object

In [40]:
data.iloc[:,5] = data.iloc[:,5].str.split(',')

In [41]:
data.iloc[:,5] = data.iloc[:,5].apply(lambda x : ''.join(x))

In [42]:
data.iloc[:,5]

0          22999
1          32900
2          23731
3          14800
4          27990
           ...
179764     69990
179765     86990
179766    124990
179767    189999
179768     31995
Name: Dealer's Price:, Length: 179769, dtype: object

In [43]:
data.head()

,Year:,Title:,Location:,Gas Mileage in City:,Gas Mileage on Highway:,Dealer's Price:,Mileage:,Transmission:,Exterior Color:,Interior Color:,...,Drivetrain:,VIN:,Stock #:,Major Options:,Certified:,Title Check,Accident Check,Ownership history,Days on CarGurus,Price History
0,2013,Ram 2500 Laramie Crew Cab,"Tappahannock, VA",0,0,22999,"75,228 miles",Automatic,True Blue Pearl,---,...,4X2,3C6TR4FT8DG517986,12255,"Bluetooth, Backup Camera, Aluminum Wheels, Nav...",NaN,No issues reported,No issues reported,2 Owners,37 days,No price changes
1,2019,Ram 1500 Rebel Quad Cab 4WD,"Mentor, OH",19 MPG City,24 MPG Highway,32900,"12,454 miles",8-Speed Automatic,Billet Silver Metallic Clearcoat,Red/Black,...,Four-Wheel Drive,1C6RRFEG5KN840908,A2242,"Bluetooth, Backup Camera, Quick Order Package",NaN,No issues reported,No issues reported,One owner,24 days,"Price dropped by $1,100"
2,2015,Ram 1500 Big Horn Crew Cab 4WD,"Jonestown, PA",15 MPG City,21 MPG Highway,23731,"53,845 miles",Automatic,"""",Gray,...,Four-Wheel Drive,1C6RR7GT8FS636952,3387,"Navigation System, Bluetooth, Premium Wheels, ...",NaN,No issues reported,No issues reported,One owner,64 days,"Price dropped by $2,266"
3,2009,Dodge Ram 1500 Laramie Crew Cab 4WD,"Westport, MA",13 MPG City,18 MPG Highway,14800,"114,566 miles",Automatic,Stone White,Dark slate gray,...,Four-Wheel Drive,1D3HV13T89S826734,16507B,"Leather Seats, Sunroof/Moonroof, Navigation Sy...",NaN,No issues reported,No issues reported,One owner,28 days,No price changes
4,2016,Ram 1500 SLT Crew Cab 4WD,"Lumberton, NJ",15 MPG City,21 MPG Highway,27990,"7,146 miles",8-Speed Automatic,Black Forest Green Pearlcoat,Gray,...,Four-Wheel Drive,3C6RR7LTXGG107873,600679A,"Navigation System, Bluetooth, Quick Order Package",Yes,No issues reported,No issues reported,One owner,18 days,"Price dropped by $2,910"

In [44]:
type(data.iloc[1,5])

str

In [45]:
data.dtypes

Year:                      object
Title:                     object
Location:                  object
Gas Mileage in City:       object
Gas Mileage on Highway:    object
Dealer's Price:            object
Mileage:                   object
Transmission:              object
Exterior Color:            object
Interior Color:            object
Maximum Seating:           object
Engine:                    object
Drivetrain:                object
VIN:                       object
Stock #:                   object
Major Options:             object
Certified:                 object
Title Check                object
Accident Check             object
Ownership history          object
Days on CarGurus           object
Price History              object
dtype: object

In [46]:
#data['Dealer\'s Price:'].str.strip().astype(float)
#ValueError: could not convert string to float: '25998 (No-haggle price)'
#其中有資料 內容除了數字外有英文 : No-haggle price

In [47]:
#data.iloc[:,5].str.replace('[a-z]+','')

In [48]:
#data.iloc[:,5].astype(float)

In [49]:
#data.iloc[197,5].replace('[A-Za-z]','')

In [4]:
#test = "abcdefg[a-z]123"

In [2]:
#test.replace('abc','')

'defg123'

In [11]:
#test.replace('^[^a]','')

'abcdefg[a-z]123'

-----

### 去掉Mileages欄位的單位 保留數字

In [50]:
data.iloc[:,6].str.split(' ')

0          [75,228, miles]
1          [12,454, miles]
2          [53,845, miles]
3         [114,566, miles]
4           [7,146, miles]
                ...
179764     [39,929, miles]
179765     [84,453, miles]
179766      [3,477, miles]
179767     [28,120, miles]
179768      [6,509, miles]
Name: Mileage:, Length: 179769, dtype: object

In [61]:
data.iloc[:,6].str.split(' ', expand=True)[0]

0          75,228
1          12,454
2          53,845
3         114,566
4           7,146
           ...
179764     39,929
179765     84,453
179766      3,477
179767     28,120
179768      6,509
Name: 0, Length: 179769, dtype: object

In [62]:
data.iloc[:,6] = data.iloc[:,6].str.split(' ', expand=True)[0]

In [63]:
data.iloc[:,6]

0          75,228
1          12,454
2          53,845
3         114,566
4           7,146
           ...
179764     39,929
179765     84,453
179766      3,477
179767     28,120
179768      6,509
Name: Mileage:, Length: 179769, dtype: object

In [64]:
data.head()

,Year:,Title:,Location:,Gas Mileage in City:,Gas Mileage on Highway:,Dealer's Price:,Mileage:,Transmission:,Exterior Color:,Interior Color:,...,Drivetrain:,VIN:,Stock #:,Major Options:,Certified:,Title Check,Accident Check,Ownership history,Days on CarGurus,Price History
0,2013,Ram 2500 Laramie Crew Cab,"Tappahannock, VA",0,0,22999,"75,228",Automatic,True Blue Pearl,---,...,4X2,3C6TR4FT8DG517986,12255,"Bluetooth, Backup Camera, Aluminum Wheels, Nav...",NaN,No issues reported,No issues reported,2 Owners,37 days,No price changes
1,2019,Ram 1500 Rebel Quad Cab 4WD,"Mentor, OH",19 MPG City,24 MPG Highway,32900,"12,454",8-Speed Automatic,Billet Silver Metallic Clearcoat,Red/Black,...,Four-Wheel Drive,1C6RRFEG5KN840908,A2242,"Bluetooth, Backup Camera, Quick Order Package",NaN,No issues reported,No issues reported,One owner,24 days,"Price dropped by $1,100"
2,2015,Ram 1500 Big Horn Crew Cab 4WD,"Jonestown, PA",15 MPG City,21 MPG Highway,23731,"53,845",Automatic,"""",Gray,...,Four-Wheel Drive,1C6RR7GT8FS636952,3387,"Navigation System, Bluetooth, Premium Wheels, ...",NaN,No issues reported,No issues reported,One owner,64 days,"Price dropped by $2,266"
3,2009,Dodge Ram 1500 Laramie Crew Cab 4WD,"Westport, MA",13 MPG City,18 MPG Highway,14800,"114,566",Automatic,Stone White,Dark slate gray,...,Four-Wheel Drive,1D3HV13T89S826734,16507B,"Leather Seats, Sunroof/Moonroof, Navigation Sy...",NaN,No issues reported,No issues reported,One owner,28 days,No price changes
4,2016,Ram 1500 SLT Crew Cab 4WD,"Lumberton, NJ",15 MPG City,21 MPG Highway,27990,"7,146",8-Speed Automatic,Black Forest Green Pearlcoat,Gray,...,Four-Wheel Drive,3C6RR7LTXGG107873,600679A,"Navigation System, Bluetooth, Quick Order Package",Yes,No issues reported,No issues reported,One owner,18 days,"Price dropped by $2,910"

-----

### 第7個欄位 Transmission:

In [68]:
set(data.iloc[:,7])

{'1-Speed Automatic',
 '1-Speed CVT',
 '1-Speed Dual Clutch',
 '3-Speed Automatic',
 '3-Speed Manual',
 '4-Speed Automatic',
 '4-Speed Automatic Overdrive',
 '4-Speed CVT',
 '4-Speed Dual Clutch',
 '4-Speed Manual',
 '5-Speed Automatic',
 '5-Speed Automatic Overdrive',
 '5-Speed Manual',
 '5-Speed Manual Overdrive',
 '6-Speed Automatic',
 '6-Speed Automatic Overdrive',
 '6-Speed CVT',
 '6-Speed Dual Clutch',
 '6-Speed Manual',
 '6-Speed Manual Overdrive',
 '7-Speed Automatic',
 '7-Speed Automatic Overdrive',
 '7-Speed CVT',
 '7-Speed Dual Clutch',
 '7-Speed Manual',
 '8-Speed Automatic',
 '8-Speed Automatic Overdrive',
 '8-Speed CVT',
 '9-Speed Automatic',
 '9-Speed Automatic Overdrive',
 'Automatic',
 'Continuously Variable Transmission',
 'False',
 'Manual',
 nan}

In [69]:
len(set(data.iloc[:,7]))
#有35種可能,包括 False 和 nan

35