In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn import preprocessing

In [3]:
data = pd.read_csv('gurus_ML.csv')

In [4]:
data.head()

,Unnamed: 0,Title,Year,Brand,Location,State,Rental,Price,Mileage,Transmission,FuelType,Engine,Drivetrain,OptionCount,MajorOptions,Accident Check,OwnershipHistory
0,2,Silverado 2500HD Work Truck Extended Cab LB 4WD,2010,Chevrolet,Frankfort,KY,False,15900.0,144000.0,Automatic,Gasoline,V8,Four-Wheel Drive,2,"['Steel Wheels', 'Tow Package']",0.0,2.0
1,3,Corvette Stingray 3LT Coupe RWD,2014,Chevrolet,Lewistown,MT,False,49995.0,2500.0,7-Speed Manual,Gasoline,V8,Rear-Wheel Drive,5,"['Bluetooth', 'Backup Camera', 'Aluminum Wheel...",0.0,1.0
2,4,Monte Carlo SS FWD,2002,Chevrolet,Delavan,IL,False,3440.0,174000.0,Automatic,Gasoline,V6,Front-Wheel Drive,2,"['Leather Seats', 'Aluminum Wheels']",0.0,2.0
3,5,Monte Carlo LS FWD,2004,Chevrolet,Delavan,IL,False,4890.0,115500.0,Automatic,Gasoline,V6,Front-Wheel Drive,1,['Steel Wheels'],0.0,3.0
4,7,Silverado 1500 LT Extended Cab RWD,2001,Chevrolet,Delavan,IL,False,6550.0,188583.0,Automatic,Gasoline,V8,Rear-Wheel Drive,3,"['Leather Seats', 'Suspension Package', 'Alumi...",0.0,1.0

In [5]:
data.iloc[:,1:]

,Title,Year,Brand,Location,State,Rental,Price,Mileage,Transmission,FuelType,Engine,Drivetrain,OptionCount,MajorOptions,Accident Check,OwnershipHistory
0,Silverado 2500HD Work Truck Extended Cab LB 4WD,2010,Chevrolet,Frankfort,KY,False,15900.0,144000.0,Automatic,Gasoline,V8,Four-Wheel Drive,2,"['Steel Wheels', 'Tow Package']",0.0,2.0
1,Corvette Stingray 3LT Coupe RWD,2014,Chevrolet,Lewistown,MT,False,49995.0,2500.0,7-Speed Manual,Gasoline,V8,Rear-Wheel Drive,5,"['Bluetooth', 'Backup Camera', 'Aluminum Wheel...",0.0,1.0
2,Monte Carlo SS FWD,2002,Chevrolet,Delavan,IL,False,3440.0,174000.0,Automatic,Gasoline,V6,Front-Wheel Drive,2,"['Leather Seats', 'Aluminum Wheels']",0.0,2.0
3,Monte Carlo LS FWD,2004,Chevrolet,Delavan,IL,False,4890.0,115500.0,Automatic,Gasoline,V6,Front-Wheel Drive,1,['Steel Wheels'],0.0,3.0
4,Silverado 1500 LT Extended Cab RWD,2001,Chevrolet,Delavan,IL,False,6550.0,188583.0,Automatic,Gasoline,V8,Rear-Wheel Drive,3,"['Leather Seats', 'Suspension Package', 'Alumi...",0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2088473,500 Lounge,2013,FIAT,Eynon,PA,False,NaN,51.0,5-Speed Manual,Gasoline,I4,Front-Wheel Drive,0,['empty'],0.0,1.0
2088474,500 Pop Convertible,2014,FIAT,Clearfield,PA,True,11980.0,9493.0,6-Speed Automatic,Gasoline,I4,Front-Wheel Drive,1,['Bluetooth'],0.0,1.0
2088475,500 Pop Convertible,2012,FIAT,Eynon,PA,False,13100.0,NaN,5-Speed Automatic,Gasoline,I4,Front-Wheel Drive,0,['empty'],0.0,1.0
2088476,500 Lounge Convertible,2012,FIAT,Eynon,PA,False,13100.0,NaN,5-Speed Automatic,Gasoline,I4,Front-Wheel Drive,0,['empty'],0.0,1.0
2088477,500 Sport,2012,FIAT,Eynon,PA,False,15100.0,NaN,5-Speed Automatic,Gasoline,I4,Front-Wheel Drive,0,['empty'],0.0,1.0

In [6]:
def transform_to_integer(i) :
    le = preprocessing.LabelEncoder()
    le.fit(data.iloc[:,i])
    data.iloc[:,i] = le.transform(data.iloc[:,i])

In [7]:
data.dtypes

Unnamed: 0            int64
Title                object
Year                  int64
Brand                object
Location             object
State                object
Rental                 bool
Price               float64
Mileage             float64
Transmission         object
FuelType             object
Engine               object
Drivetrain           object
OptionCount           int64
MajorOptions         object
Accident Check      float64
OwnershipHistory    float64
dtype: object

In [8]:
not_numbers = [1,3,4,5,6,9,10,11,12,14]

In [9]:
for i in not_numbers:
    transform_to_integer(i)

In [10]:
data.head()

,Unnamed: 0,Title,Year,Brand,Location,State,Rental,Price,Mileage,Transmission,FuelType,Engine,Drivetrain,OptionCount,MajorOptions,Accident Check,OwnershipHistory
0,2,10461,2010,8,1976,15,0,15900.0,144000.0,42,4,28,2,2,187537,0.0,2.0
1,3,3183,2014,8,3100,24,0,49995.0,2500.0,32,4,28,4,5,9464,0.0,1.0
2,4,7065,2002,8,1382,12,0,3440.0,174000.0,42,4,22,3,2,41165,0.0,2.0
3,5,7062,2004,8,1382,12,0,4890.0,115500.0,42,4,22,3,1,187595,0.0,3.0
4,7,10273,2001,8,1382,12,0,6550.0,188583.0,42,4,28,4,3,127567,0.0,1.0

In [11]:
data.dtypes

Unnamed: 0            int64
Title                 int32
Year                  int64
Brand                 int32
Location              int32
State                 int32
Rental                int64
Price               float64
Mileage             float64
Transmission          int32
FuelType              int32
Engine                int32
Drivetrain            int32
OptionCount           int64
MajorOptions          int32
Accident Check      float64
OwnershipHistory    float64
dtype: object

In [12]:
X = data.drop(['Price','Unnamed: 0'],axis=1)

In [13]:
X.head()

,Title,Year,Brand,Location,State,Rental,Mileage,Transmission,FuelType,Engine,Drivetrain,OptionCount,MajorOptions,Accident Check,OwnershipHistory
0,10461,2010,8,1976,15,0,144000.0,42,4,28,2,2,187537,0.0,2.0
1,3183,2014,8,3100,24,0,2500.0,32,4,28,4,5,9464,0.0,1.0
2,7065,2002,8,1382,12,0,174000.0,42,4,22,3,2,41165,0.0,2.0
3,7062,2004,8,1382,12,0,115500.0,42,4,22,3,1,187595,0.0,3.0
4,10273,2001,8,1382,12,0,188583.0,42,4,28,4,3,127567,0.0,1.0

In [14]:
X.columns

Index(['Title', 'Year', 'Brand', 'Location', 'State', 'Rental', 'Mileage',
       'Transmission', 'FuelType', 'Engine', 'Drivetrain', 'OptionCount',
       'MajorOptions', 'Accident Check', 'OwnershipHistory'],
      dtype='object')

In [15]:
y = data['Price']

In [16]:
y.head()

0    15900.0
1    49995.0
2     3440.0
3     4890.0
4     6550.0
Name: Price, dtype: float64

In [17]:
y.dtypes

dtype('float64')

In [18]:
y_empty = y.isnull()

In [19]:
y_need_pred = y[y_empty] #挑出需要預估的y值
# y_need_pred 全是NaN

In [20]:
y_has = y.notnull()

In [23]:
y_train = y[y_has]
# 訓練用的 y (price)

In [25]:
X_test = X[y_empty]

In [28]:
X_tarin = X[y_has]

--------------------------------------